.suggestion-item {
  display: flex;
  justify-content: space-between;
}
.suggestion-text {
  font-size: 22px;
  font-family: 'Roboto';
  font-weight: 400;
  color: #475569;
}
@media screen and (min-width: 768px) {
  .suggestion-text {
    font-size: 30px;
  }
}
.arrow-button {
  background-color: #ffffff;
  border: 0px solid #ffffff;
  outline: none;
}
.arrow {
  width: 30px;
  height: 30px;
}
